/* components/CategoryHeader.module.css */

.categoryHeader {
    font-family: 'DrukWide';
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    color: #f9f4dc;
    padding: 0.4em 0;
    margin-top: 0.1%;
    border-left: 1.5px dotted #f9f4dc;
    border-right: 1.5px dotted #f9f4dc;
    border-top: 1.5px dotted #f9f4dc;
    transition: font-size 0.4s ease;
  }
  
  :global(.container.detail-open) .categoryHeader {
    font-size: 0.5em;
  }
  .categoryHeader:hover {
    background-color: black; /* ✅ 黑底 */
  }

  .header {
    font-family: 'Diatype';
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #111;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0.5em;
    background-color: #eee;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .header:hover {
    background-color: black;
    color: white;
  }
  
  .active {
    background-color: black;
    color: white;
  }
  
 
